Repository forcedotcom/lwc-dev-server: changes, and which Codecov flags are due for each by the changed paths.
All: frontend, backend

codecov.yml:

comment:
  layout: "header, diff, tree"
  behavior: default
  require_changes: false  # if true: only post the comment if coverage changes
  branches: null
  flags: null
  paths: null
flags:
  frontend:
    paths:
      - modules/
  backend:
    paths:
      - src/

minor test updates
  integration-tests/src/provided-resources/project/localdevserver.config.json
  integration-tests/src/provided-resources/project/package.json
  integration-tests/src/provided-resources/project/src/test/component/component.html
  integration-tests/src/provided-resources/project/src/test/component/component.js
  integration-tests/src/provided-resources/provided-resources.ts
  integration-tests/src/resource-urls/project/config/project-scratch-def.json
  integration-tests/src/resource-urls/project/force-app/main/default/lwc/libsChartjs/libsChartjs.html
  integration-tests/src/resource-urls/project/force-app/main/default/lwc/libsChartjs/libsChartjs.js
  integration-tests/src/resource-urls/project/force-app/main/default/lwc/libsChartjs/libsChartjs.js-meta.xml
  integration-tests/src/resource-urls/project/force-app/main/default/lwc/miscStaticResource/miscStaticResource.html
  integration-tests/src/resource-urls/project/force-app/main/default/lwc/miscStaticResource/miscStaticResource.js
  integration-tests/src/resource-urls/project/force-app/main/default/lwc/miscStaticResource/miscStaticResource.js-meta.xml
  integration-tests/src/resource-urls/project/force-app/main/default/staticresources/chart.js
  integration-tests/src/resource-urls/project/force-app/main/default/staticresources/chart.resource-meta.xml
  integration-tests/src/resource-urls/project/force-app/main/default/staticresources/trailhead_characters.resource-meta.xml
  integration-tests/src/resource-urls/project/force-app/main/default/staticresources/trailhead_characters/images/einstein.png
  integration-tests/src/resource-urls/project/force-app/main/default/staticresources/trailhead_logo.png
  integration-tests/src/resource-urls/project/force-app/main/default/staticresources/trailhead_logo.resource-meta.xml
  integration-tests/src/resource-urls/project/package.json
  integration-tests/src/resource-urls/project/sfdx-project.json
  integration-tests/src/resource-urls/resource-urls.test.ts
  modules/localdevserver/home/__tests__/home.test.js
  modules/localdevserver/layout/__tests__/__snapshots__/layout.test.js.snap
  modules/localdevserver/layout/__tests__/layout.test.js
Due: frontend

update talon
  lib/lbf-interactions-0.1.28.tgz
  lib/lbf-utils-0.1.28.tgz
  lib/lwc-components-lightning-1.2.1-alpha.tgz
  lib/lwc-components-lightning-1.2.4-alpha.tgz
  lib/talon-common-0.15.0.tgz
  lib/talon-common-0.18.4.tgz
  lib/talon-compiler-0.15.0.tgz
  lib/talon-compiler-0.18.4.tgz
  lib/talon-force-modules-0.0.5.tgz
  lib/talon-force-modules-0.0.6.tgz
  lib/talon-framework-0.15.0.tgz
  lib/talon-framework-0.18.4.tgz
  lib/talon-metadata-schema-0.0.16.tgz
  lib/talon-metadata-schema-0.0.18.tgz
  package.json
  script/libs-update-all.js
  yarn.lock
Due: none

update lwc
  lib/lbf-interactions-0.1.28.tgz
  lib/lbf-interactions-0.1.29.tgz
  lib/lbf-utils-0.1.28.tgz
  lib/lbf-utils-0.1.29.tgz
  lib/talon-force-modules-0.0.5.tgz
  lib/talon-force-modules-0.0.6.tgz
  lib/talon-navigation-0.18.4.tgz
  package.json
  script/libs-update-all.js
  yarn.lock
Due: none

add LDS 222
  src/server/LocalDevServer.ts
  vendors/dependencies-222/LDS/force/lds.js
  yarn.lock
Due: backend

minor test updates (#99)
  integration-tests/src/provided-resources/project/localdevserver.config.json
  integration-tests/src/provided-resources/project/package.json
  integration-tests/src/provided-resources/project/src/test/component/component.html
  integration-tests/src/provided-resources/project/src/test/component/component.js
  integration-tests/src/provided-resources/provided-resources.ts
  integration-tests/src/resource-urls/project/config/project-scratch-def.json
  integration-tests/src/resource-urls/project/force-app/main/default/lwc/libsChartjs/libsChartjs.html
  integration-tests/src/resource-urls/project/force-app/main/default/lwc/libsChartjs/libsChartjs.js
  integration-tests/src/resource-urls/project/force-app/main/default/lwc/libsChartjs/libsChartjs.js-meta.xml
  integration-tests/src/resource-urls/project/force-app/main/default/lwc/miscStaticResource/miscStaticResource.html
  integration-tests/src/resource-urls/project/force-app/main/default/lwc/miscStaticResource/miscStaticResource.js
  integration-tests/src/resource-urls/project/force-app/main/default/lwc/miscStaticResource/miscStaticResource.js-meta.xml
  integration-tests/src/resource-urls/project/force-app/main/default/staticresources/chart.js
  integration-tests/src/resource-urls/project/force-app/main/default/staticresources/chart.resource-meta.xml
  integration-tests/src/resource-urls/project/force-app/main/default/staticresources/trailhead_characters.resource-meta.xml
  integration-tests/src/resource-urls/project/force-app/main/default/staticresources/trailhead_characters/images/einstein.png
  integration-tests/src/resource-urls/project/force-app/main/default/staticresources/trailhead_logo.png
  integration-tests/src/resource-urls/project/force-app/main/default/staticresources/trailhead_logo.resource-meta.xml
  integration-tests/src/resource-urls/project/package.json
  integration-tests/src/resource-urls/project/sfdx-project.json
  integration-tests/src/resource-urls/resource-urls.test.ts
  modules/localdevserver/home/__tests__/home.test.js
  modules/localdevserver/layout/__tests__/__snapshots__/layout.test.js.snap
  modules/localdevserver/layout/__tests__/layout.test.js
Due: frontend

Initial telemetry library
  modules/localdevserver/home/home.html
  package.json
  src/cli/commands/server.ts
  src/instrumentation/LocalDevTelemetryOptions.ts
  src/instrumentation/LocalDevTelemetryReporter.ts
  src/instrumentation/__tests__/LocalDevTelemetryReporter.tests.ts
  yarn.lock
Due: frontend, backend

Revert home formatting
  modules/localdevserver/home/home.html
Due: frontend

With tests
  src/instrumentation/LocalDevTelemetryOptions.ts
  src/instrumentation/__tests__/LocalDevTelemetryOptions.test.ts
  src/instrumentation/__tests__/LocalDevTelemetryReporter.test.ts
  src/instrumentation/__tests__/LocalDevTelemetryReporter.tests.ts
Due: backend

Update eslint-utils
  package.json
  src/instrumentation/LocalDevTelemetryReporter.ts
  yarn.lock
Due: backend

Change the command to not use server
  integration-tests/src/example-cli/example-cli.test.ts
Due: none

Revert deleting server.ts
  integration-tests/src/example-cli/example-cli.test.ts
  src/cli/commands/server.ts
Due: backend

update talon (#100)
  lib/lbf-interactions-0.1.29.tgz
  lib/lbf-utils-0.1.29.tgz
  lib/lwc-components-lightning-1.2.1-alpha.tgz
  lib/lwc-components-lightning-1.2.4-alpha.tgz
  lib/talon-common-0.15.0.tgz
  lib/talon-common-0.18.4.tgz
  lib/talon-compiler-0.15.0.tgz
  lib/talon-compiler-0.18.4.tgz
  lib/talon-framework-0.15.0.tgz
  lib/talon-framework-0.18.4.tgz
  lib/talon-metadata-schema-0.0.16.tgz
  lib/talon-metadata-schema-0.0.18.tgz
  lib/talon-navigation-0.18.4.tgz
  package.json
  script/libs-update-all.js
  src/server/LocalDevServer.ts
  vendors/dependencies-222/LDS/force/lds.js
  yarn.lock
Due: backend

Telemetry (#101)
  package.json
  src/instrumentation/LocalDevTelemetryOptions.ts
  src/instrumentation/LocalDevTelemetryReporter.ts
  src/instrumentation/__tests__/LocalDevTelemetryOptions.test.ts
  src/instrumentation/__tests__/LocalDevTelemetryReporter.test.ts
  yarn.lock
Due: backend

Initial telemetry library
  modules/localdevserver/home/home.html
  src/cli/commands/server.ts
  src/instrumentation/LocalDevTelemetryOptions.ts
  src/instrumentation/LocalDevTelemetryReporter.ts
  src/instrumentation/__tests__/LocalDevTelemetryReporter.tests.ts
Due: frontend, backend

With tests
  src/instrumentation/LocalDevTelemetryOptions.ts
  src/instrumentation/__tests__/LocalDevTelemetryReporter.tests.ts
Due: backend

Update eslint-utils
  src/instrumentation/LocalDevTelemetryReporter.ts
Due: backend

Start implementing telemetry
  src/cli/commands/force/lightning/lwc/start.ts
  src/server/LocalDevServer.ts
  src/server/__tests__/LocalDevServer.test.ts
  src/server/talonServerCopy.ts
Due: backend

Cleanup talonServerCopy a bit
  src/instrumentation/LocalDevTelemetryOptions.ts
  src/instrumentation/__tests__/LocalDevTelemetryOptions.test.ts
  src/server/talonServerCopy.ts
Due: backend

Disable instrumentation during test runs
  integration-tests/setup/globalSetup.ts
  integration-tests/setup/globalTeardown.ts
  src/server/__tests__/LocalDevServer.test.ts
Due: backend

Inverted boolean
  integration-tests/setup/globalSetup.ts
  integration-tests/setup/globalTeardown.ts
Due: none

Revert start.ts
  src/cli/commands/force/lightning/lwc/start.ts
  src/html/index.html
  src/server/talonServerCopy.ts
Due: backend

forgot await call
  src/server/talonServerCopy.ts
Due: backend

Tests for code coverage in ComponentIndex
  src/common/__tests__/ComponentIndex.test.ts
Due: backend

Add tests for talonServerCopy
  src/server/__tests__/talonServerCopy.test.ts
  src/server/talonServerCopy.ts
Due: backend

retore mockFS after every test
  src/common/__tests__/ComponentIndex.test.ts
Due: backend

Mockfs to mock
  src/common/__tests__/ComponentIndex.test.ts
Due: backend

Move config for husky in package.json
  package.json
Due: none

Remove extra describe
  src/common/__tests__/ComponentIndex.test.ts
Due: backend

fix component index tests
  src/common/__tests__/ComponentIndex.test.ts
Due: backend

Increase code coverage with more tests
  src/server/__tests__/LocalDevServer.test.ts
Due: backend

Add unit tests for logging
  src/server/__tests__/LocalDevServer.test.ts
Due: backend

Run in band to prevent OOM
  package.json
Due: none

More test coverage
  src/server/__tests__/talonServerCopy.test.ts
Due: backend

Move config for husky in package.json (#104)
  package.json
Due: none

metadata api uploads + apex tests
  integration-tests/src/apex-and-schema/apex-and-schema.test.ts
  integration-tests/src/apex-and-schema/project/.sfdx/sfdx-config.json
  integration-tests/src/apex-and-schema/project/force-app/main/default/classes/ApexTestAccountController.cls
  integration-tests/src/apex-and-schema/project/force-app/main/default/classes/ApexTestAccountController.cls-meta.xml
  integration-tests/src/apex-and-schema/project/force-app/main/default/classes/ApexTestContactController.cls
  integration-tests/src/apex-and-schema/project/force-app/main/default/classes/ApexTestContactController.cls-meta.xml
  integration-tests/src/apex-and-schema/project/force-app/main/default/lwc/apexSchema/apexSchema.html
  integration-tests/src/apex-and-schema/project/force-app/main/default/lwc/apexSchema/apexSchema.js
  integration-tests/src/apex-and-schema/project/force-app/main/default/lwc/apexSchema/apexSchema.js-meta.xml
  integration-tests/src/apex-and-schema/project/force-app/main/default/lwc/wireToProp/wireToProp.html
  integration-tests/src/apex-and-schema/project/force-app/main/default/lwc/wireToProp/wireToProp.js
  integration-tests/src/apex-and-schema/project/force-app/main/default/lwc/wireToProp/wireToProp.js-meta.xml
  integration-tests/src/apex-and-schema/project/force-app/main/default/package.xml
  integration-tests/src/apex-and-schema/project/package.json
  integration-tests/src/apex-and-schema/project/sfdx-project.json
  integration-tests/src/example-sfdx/example-sfdx.disabled.ts
  integration-tests/src/example-sfdx/project/.sfdx/sfdx-config.json
  integration-tests/src/example-sfdx/project/config/project-scratch-def.json
  integration-tests/src/example-sfdx/project/force-app/main/default/lwc/hello/hello.html
  integration-tests/src/example-sfdx/project/force-app/main/default/lwc/hello/hello.js
  integration-tests/src/example-sfdx/project/force-app/main/default/staticresources/trailhead_logo.png
  integration-tests/src/example-sfdx/project/force-app/main/default/staticresources/trailhead_logo.resource-meta.xml
  integration-tests/src/example-sfdx/project/package.json
  integration-tests/src/example-sfdx/project/sfdx-project.json
  integration-tests/utils/upload-metadata.ts
  package.json
  yarn.lock
Due: none

increase timeout
  integration-tests/src/apex-and-schema/apex-and-schema.test.ts
Due: none

apex page object + moar tests
  integration-tests/src/apex-and-schema/ApexPage.ts
  integration-tests/src/apex-and-schema/apex-and-schema.test.ts
  integration-tests/src/apex-and-schema/project/force-app/main/default/lwc/apexImperative/apexImperative.html
  integration-tests/src/apex-and-schema/project/force-app/main/default/lwc/apexImperative/apexImperative.js
  integration-tests/src/apex-and-schema/project/force-app/main/default/lwc/apexImperative/apexImperative.js-meta.xml
  integration-tests/src/apex-and-schema/project/force-app/main/default/lwc/wireToProp/wireToProp.html
  integration-tests/src/apex-and-schema/project/force-app/main/default/lwc/wireToProp/wireToProp.js
  integration-tests/src/apex-and-schema/project/force-app/main/default/lwc/wireToPropParams/wireToPropParams.html
  integration-tests/src/apex-and-schema/project/force-app/main/default/lwc/wireToPropParams/wireToPropParams.js
  integration-tests/src/apex-and-schema/project/force-app/main/default/lwc/wireToPropParams/wireToPropParams.js-meta.xml
  integration-tests/src/component-list/component-list.test.ts
  integration-tests/src/pageObjects/HomePage.ts
  integration-tests/utils/upload-metadata.ts
  package.json
  yarn.lock
Due: none
