Repository forcedotcom/lwc-dev-server: changes, and which Codecov flags are due for each by the changed paths.
All: frontend, backend

Edit commandDescription. (#122)
  messages/start.json
Due: none

cli flag messages should match sfdx casing
  messages/start.json
Due: none

cli flag messages should match sfdx casing (#121)
  messages/start.json
Due: none

Update test to reflect LightningElement check
  src/common/__tests__/ComponentIndex.test.ts
Due: backend

Adding LightningElement test for sfdx projects
  src/common/__tests__/ComponentIndex.test.ts
Due: backend

misc fixes
  package.json
  src/cli/commands/force/lightning/lwc/start.ts
  src/server/labelResolver.ts
  yarn.lock
Due: backend

misc fixes (#123)
  package.json
  src/cli/commands/force/lightning/lwc/start.ts
  src/server/labelResolver.ts
  yarn.lock
Due: backend

Add check if component is UI LWC component
  src/common/ComponentIndex.ts
Due: backend

fixes for edge
  modules/localdevserver/preview/preview.js
  src/server/talonServerCopy.ts
Due: frontend, backend

fixes for edge (#125)
  modules/localdevserver/preview/preview.js
  src/server/talonServerCopy.ts
Due: frontend, backend

add beta badge
  modules/localdevserver/header/header.css
  modules/localdevserver/header/header.html
Due: frontend

update test
  modules/localdevserver/header/__tests__/__snapshots__/header.test.js.snap
Due: frontend

Remove lib dependency for vendors
  lib/lwc-dev-server-runtime-lib-1.0.36.tgz
  package.json
  src/server/LocalDevServer.ts
  src/server/__tests__/LocalDevServer.test.ts
  yarn.lock
Due: backend

add beta badge (#126)
  modules/localdevserver/header/__tests__/__snapshots__/header.test.js.snap
  modules/localdevserver/header/header.css
  modules/localdevserver/header/header.html
Due: frontend

Talon from NPM too
  lib/lbf-interactions-0.1.41.tgz
  lib/lbf-utils-0.1.41.tgz
  lib/talon-common-0.18.5.tgz
  lib/talon-compiler-0.18.5.tgz
  lib/talon-force-modules-0.0.5.tgz
  lib/talon-framework-0.18.5.tgz
  lib/talon-metadata-schema-0.0.18.tgz
  lib/talon-navigation-0.18.5.tgz
  package.json
  script/libs-install.js
  script/libs-prepare.js
  script/libs-update-all.js
  script/packagejson-clean.js
  script/packagejson-restore.js
  yarn.lock
Due: none

It works
  .npmrc
  CONTRIBUTING.md
  extra-types/@talon/compiler/index.d.ts
  extra-types/@webruntime/compiler/index.d.ts
  jest.config.js
  lwc-jest-resolver/resolver.js
  modules/localdevserver/error/__tests__/error.test.js
  modules/localdevserver/preview/__tests__/preview.test.js
  modules/localdevserver/preview/preview.js
  package.json
  src/html/index.html
  src/server/LocalDevServer.ts
  src/server/__tests__/talonServerCopy.test.ts
  src/server/talonServerCopy.ts
Due: frontend, backend

Ignore all @salesforce scoped modules except local dev dependencies
  src/server/LocalDevServer.ts
Due: backend

fix webruntimeConfig, tests
  integration-tests/src/example-cli/example-cli.disabled.ts
  integration-tests/src/pageObjects/HomePage.ts
  integration-tests/src/pageObjects/PreviewPage.ts
  lwc-jest-resolver/resolver.js
  src/server/LocalDevServer.ts
  src/server/__tests__/LocalDevServer.test.ts
  src/server/webruntimeConfig.ts
Due: backend

cleanup package.json files
  package.json
Due: none

Remove lib dependency for vendors (#127)
  .npmrc
  CONTRIBUTING.md
  extra-types/@talon/compiler/index.d.ts
  extra-types/@webruntime/compiler/index.d.ts
  integration-tests/src/example-cli/example-cli.disabled.ts
  integration-tests/src/pageObjects/HomePage.ts
  integration-tests/src/pageObjects/PreviewPage.ts
  jest.config.js
  lib/lbf-interactions-0.1.41.tgz
  lib/lbf-utils-0.1.41.tgz
  lib/lwc-dev-server-runtime-lib-1.0.36.tgz
  lib/talon-common-0.18.5.tgz
  lib/talon-compiler-0.18.5.tgz
  lib/talon-force-modules-0.0.5.tgz
  lib/talon-framework-0.18.5.tgz
  lib/talon-metadata-schema-0.0.18.tgz
  lib/talon-navigation-0.18.5.tgz
  lwc-jest-resolver/resolver.js
  modules/localdevserver/error/__tests__/error.test.js
  modules/localdevserver/preview/__tests__/preview.test.js
  modules/localdevserver/preview/preview.js
  package.json
  script/libs-install.js
  script/libs-prepare.js
  script/libs-update-all.js
  script/packagejson-clean.js
  script/packagejson-restore.js
  src/html/index.html
  src/server/LocalDevServer.ts
  src/server/__tests__/LocalDevServer.test.ts
  src/server/__tests__/talonServerCopy.test.ts
  src/server/talonServerCopy.ts
  src/server/webruntimeConfig.ts
  yarn.lock
Due: frontend, backend

change to @salesforce scope
  package.json
Due: none

tmp test fix
  modules/localdevserver/preview/__tests__/preview.test.js
Due: frontend

fix messages
  package.json
  src/cli/commands/force/lightning/lwc/start.ts
Due: backend

add LICENSE, clean package.json
  LICENSE
  package.json
Due: none

place in @salesforce scope (#128)
  LICENSE
  modules/localdevserver/preview/__tests__/preview.test.js
  package.json
  src/cli/commands/force/lightning/lwc/start.ts
Due: frontend, backend

readme updates
  CONTRIBUTING.md
  README.md
  SFDX_plugin.md
  local_development_server.md
Due: none

cleanup
  .appveyor.yml
  .circleci/config.yml
  .eslintignore
  .gitignore
  .huskyrc
  .vscode/launch.json
  .vscode/settings.json
  .vscode/workspaces/duck-burrito.code-workspace
  README.md
Due: none

update readme
  CONTRIBUTING.md
  README.md
Due: none

husky
  package.json
Due: none

contributing
  CONTRIBUTING.md
  package.json
Due: none

contributing
  CONTRIBUTING.md
Due: none

fix version
  package.json
Due: none

fix files
  package.json
Due: none

fix bug with finding compiling our modules
  src/server/webruntimeConfig.ts
Due: backend

remove comments
  tsconfig.json
Due: none

Path conditions:
  frontend: any of: modules/
  backend: any of: src/
