Repository forcedotcom/lwc-dev-server: changes, and which Codecov flags are due for each by the changed paths.
All: frontend, backend

codecov.yml:

comment:
  layout: "header, diff, tree"
  behavior: default
  require_changes: false  # if true: only post the comment if coverage changes
  branches: null
  flags: null
  paths: null
flags:
  frontend:
    paths:
      - modules/
  backend:
    paths:
      - src/

make DEFAULT_API_VERSION a constant
  src/server/LocalDevServer.ts
Due: backend

reject auth promise failure, log username
  integration-tests/environment/AuthenticatedEnvironment.ts
Due: none

updates based on code review
  integration-tests/environment/AuthenticatedEnvironment.ts
  integration-tests/src/lds/crudPage.ts
  integration-tests/src/lds/lds-crud.test.ts
Due: none

add unit test for home.js constructor response failure
  modules/localdevserver/home/__tests__/home.test.js
  modules/localdevserver/home/home.js
Due: frontend

Add some test coverage to LocalDevServer
  src/server/LocalDevServer.ts
  src/server/__tests__/LocalDevServer.test.ts
Due: backend

fix faulty rebase
  src/cli/commands/force/lightning/lwc/dev.ts
Due: backend

Return null from staticResourcesDirectory if not specified
  .vscode/settings.json
  src/common/__tests__/Project.test.ts
Due: backend

Revert code settings.json
  .vscode/settings.json
Due: none

AuthenticatedEnvironment, CRUD e2e tests for LDS (#85)
  integration-tests/environment/AuthenticatedEnvironment.js
  integration-tests/environment/AuthenticatedEnvironment.ts
  integration-tests/environment/DefaultEnvironment.ts
  integration-tests/setup/setupFiles.ts
  integration-tests/src/lds/crudPage.ts
  integration-tests/src/lds/lds-crud.test.ts
  integration-tests/src/lds/project/.sfdx/sfdx-config.json
  integration-tests/src/lds/project/force-app/main/default/lwc/crud/crud.html
  integration-tests/src/lds/project/force-app/main/default/lwc/crud/crud.js
  integration-tests/src/lds/project/force-app/main/default/lwc/crud/crud.js-meta.xml
  integration-tests/src/lds/project/package.json
  integration-tests/src/lds/project/sfdx-project.json
  integration-tests/src/pageObjects/PreviewPage.ts
  integration-tests/src/pageObjects/PreviewTestComponentPage.ts
  integration-tests/tsconfig.json
  lib/talon-common-0.11.10.tgz
  lib/talon-common-0.15.0.tgz
  lib/talon-compiler-0.11.10.tgz
  lib/talon-compiler-0.15.0.tgz
  lib/talon-framework-0.11.10.tgz
  lib/talon-framework-0.15.0.tgz
  lib/talon-metadata-schema-0.0.11.tgz
  lib/talon-metadata-schema-0.0.16.tgz
  messages/dev.json
  modules/jsconfig.json
  modules/localdevserver/home/__tests__/home.test.js
  modules/localdevserver/home/home.js
  package.json
  src/cli/commands/force/lightning/lwc/dev.ts
  src/cli/commands/server.ts
  src/common/Project.ts
  src/server/LocalDevServer.ts
  src/server/__tests__/LocalDevServer.test.ts
  src/server/config/rollup-plugin-custom-components.ts
  src/server/talonServerCopy.ts
  src/user/LocalDevServerConfiguration.ts
  vendors/dependencies-220/LDS/force/lds.js
  vendors/dependencies-220/LDS/package.json
  yarn.lock
Due: frontend, backend

Guard staticResourcesDirectory against returning rootDir (#88)
  src/common/Project.ts
  src/common/__tests__/Project.test.ts
Due: backend

Update latest dependencies, and lock in braces and js-yaml to latest for security
  .lintstagedrc
  README.md
  lint-staged.config.js
  package.json
  src/server/config/rollup-plugin-custom-components.ts
  yarn.lock
Due: backend

Use at least on resolutions
  package.json
Due: none

Use prerelease lwc
  package.json
  yarn.lock
Due: none

Updated lock file
  yarn.lock
Due: none

fix server not stopping properly
  src/server/talonServerCopy.ts
Due: backend

POC of Apex proxy via Aura
  package.json
  src/cli/commands/force/lightning/lwc/dev.ts
  src/server/LocalDevServer.ts
  src/server/apexMiddleware.ts
  src/server/talonServerCopy.ts
  yarn.lock
Due: backend

Handle apex with params, cleanup, fix tests
  src/server/__tests__/LocalDevServer.test.ts
  src/server/apexMiddleware.ts
Due: backend

100% coverage
  src/server/__tests__/apexConstants.test.ts
  src/server/__tests__/apexMiddleware.test.ts
  src/server/apexConstants.ts
  src/server/apexMiddleware.ts
  src/server/talonServerCopy.ts
Due: backend

settings updates
  .vscode/settings.json
Due: none

initial test setup for resource-urls
  integration-tests/src/resourceUrls/project/.sfdx/sfdx-config.json
  integration-tests/src/resourceUrls/project/config/project-scratch-def.json
  integration-tests/src/resourceUrls/project/force-app/main/default/lwc/libsChartjs/__tests__/libsChartjs.test.js
  integration-tests/src/resourceUrls/project/force-app/main/default/lwc/libsChartjs/libsChartjs.html
  integration-tests/src/resourceUrls/project/force-app/main/default/lwc/libsChartjs/libsChartjs.js
  integration-tests/src/resourceUrls/project/force-app/main/default/lwc/libsChartjs/libsChartjs.js-meta.xml
  integration-tests/src/resourceUrls/project/force-app/main/default/lwc/libsD3/__tests__/libsD3.test.js
  integration-tests/src/resourceUrls/project/force-app/main/default/lwc/libsD3/data.js
  integration-tests/src/resourceUrls/project/force-app/main/default/lwc/libsD3/libsD3.html
  integration-tests/src/resourceUrls/project/force-app/main/default/lwc/libsD3/libsD3.js
  integration-tests/src/resourceUrls/project/force-app/main/default/lwc/libsD3/libsD3.js-meta.xml
  integration-tests/src/resourceUrls/project/force-app/main/default/lwc/miscStaticResource/__tests__/miscStaticResource.test.js
  integration-tests/src/resourceUrls/project/force-app/main/default/lwc/miscStaticResource/miscStaticResource.html
  integration-tests/src/resourceUrls/project/force-app/main/default/lwc/miscStaticResource/miscStaticResource.js
  integration-tests/src/resourceUrls/project/force-app/main/default/lwc/miscStaticResource/miscStaticResource.js-meta.xml
  integration-tests/src/resourceUrls/project/force-app/main/default/staticresources/chart.js
  integration-tests/src/resourceUrls/project/force-app/main/default/staticresources/chart.resource-meta.xml
  integration-tests/src/resourceUrls/project/force-app/main/default/staticresources/d3.resource-meta.xml
  integration-tests/src/resourceUrls/project/force-app/main/default/staticresources/d3/d3.v5.min.js
  integration-tests/src/resourceUrls/project/force-app/main/default/staticresources/d3/style.css
  integration-tests/src/resourceUrls/project/force-app/main/default/staticresources/trailhead_characters.resource-meta.xml
  integration-tests/src/resourceUrls/project/force-app/main/default/staticresources/trailhead_characters/images/einstein.png
  integration-tests/src/resourceUrls/project/force-app/main/default/staticresources/trailhead_logo.png
  integration-tests/src/resourceUrls/project/force-app/main/default/staticresources/trailhead_logo.resource-meta.xml
  integration-tests/src/resourceUrls/project/package.json
  integration-tests/src/resourceUrls/project/sfdx-project.json
  integration-tests/src/resourceUrls/resource-urls.ts
Due: none

fix tests
  integration-tests/src/resourceUrls/project/package.json
  integration-tests/src/resourceUrls/resource-urls.test.ts
Due: none

More tests
  src/server/__tests__/apexMiddleware.test.ts
  src/server/apexMiddleware.ts
Due: backend

Replace body-parser with co-body to prevent interference with lds api
  package.json
  src/server/__tests__/apexMiddleware.test.ts
  src/server/apexMiddleware.ts
  src/server/talonServerCopy.ts
  yarn.lock
Due: backend

test resource urls
  integration-tests/src/resourceUrls/project/force-app/main/default/lwc/libsChartjs/libsChartjs.html
  integration-tests/src/resourceUrls/project/force-app/main/default/lwc/libsD3/__tests__/libsD3.test.js
  integration-tests/src/resourceUrls/project/force-app/main/default/lwc/libsD3/data.js
  integration-tests/src/resourceUrls/project/force-app/main/default/lwc/libsD3/libsD3.html
  integration-tests/src/resourceUrls/project/force-app/main/default/lwc/libsD3/libsD3.js
  integration-tests/src/resourceUrls/project/force-app/main/default/lwc/libsD3/libsD3.js-meta.xml
  integration-tests/src/resourceUrls/resource-urls.test.ts
  package.json
Due: none

remove unused resources
  integration-tests/src/resourceUrls/project/force-app/main/default/lwc/libsChartjs/__tests__/libsChartjs.test.js
  integration-tests/src/resourceUrls/project/force-app/main/default/lwc/miscStaticResource/__tests__/miscStaticResource.test.js
  integration-tests/src/resourceUrls/project/force-app/main/default/staticresources/d3.resource-meta.xml
  integration-tests/src/resourceUrls/project/force-app/main/default/staticresources/d3/d3.v5.min.js
  integration-tests/src/resourceUrls/project/force-app/main/default/staticresources/d3/style.css
Due: none

add appveyor yml
  .appveyor.yml
Due: none

update appveyor yml
  .appveyor.yml
Due: none

promises
  integration-tests/src/resourceUrls/resource-urls.test.ts
Due: none

add appveyor.yml
  .appveyor.yml
  modules/localdevserver/error/error.js
  package.json
  script/libs-install.js
  src/common/__tests__/Project.test.ts
  src/server/LocalDevServer.ts
  src/server/__tests__/LocalDevServer.test.ts
  yarn.lock
Due: frontend, backend

remove cross-env
  package.json
  script/libs-install.js
  src/server/__tests__/LocalDevServer.test.ts
  yarn.lock
Due: backend

fix last unit test
  src/common/__tests__/Project.test.ts
  src/user/LocalDevServerConfiguration.ts
Due: backend

find ftests
  integration-tests/jest.config.integration-test.js
Due: none

update chrome driver
  integration-tests/setup/globalSetup.ts
  yarn.lock
Due: none

update chrome version
  .circleci/config.yml
Due: none

fix circleci orb command
  .circleci/config.yml
Due: none

app veyor newer chrome version
  .appveyor.yml
Due: none

spawn on windows
  integration-tests/environment/CliEnvironment.ts
Due: none

readme
  README.md
Due: none
