Repository forcedotcom/lwc-dev-server: changes, and which Codecov flags are due for each by the changed paths.
All: frontend, backend

codecov.yml:

comment:
  layout: "header, diff, tree"
  behavior: default
  require_changes: false  # if true: only post the comment if coverage changes
  branches: null
  flags: null
  paths: null
flags:
  frontend:
    paths:
      - modules/
  backend:
    paths:
      - src/

add selenium types
  integration-tests/tsconfig.integration-test.json
  package.json
  yarn.lock
Due: none

add ignored files >_<
  integration-tests/src/example-cli/project/localdevserver.config.json
  integration-tests/src/example-cli/project/modules/test/hello/hello.html
  integration-tests/src/example-cli/project/modules/test/hello/hello.js
  integration-tests/src/example-cli/project/package.json
  integration-tests/src/example-sfdx/project/.sfdx/sfdx-config.json
  integration-tests/src/example-sfdx/project/config/project-scratch-def.json
  integration-tests/src/example-sfdx/project/force-app/main/default/lwc/hello/hello.html
  integration-tests/src/example-sfdx/project/force-app/main/default/lwc/hello/hello.js
  integration-tests/src/example-sfdx/project/force-app/main/default/lwc/hello/hello.js-meta.xml
  integration-tests/src/example-sfdx/project/force-app/main/default/staticresources/trailhead_logo.png
  integration-tests/src/example-sfdx/project/force-app/main/default/staticresources/trailhead_logo.resource-meta.xml
  integration-tests/src/example-sfdx/project/package.json
  integration-tests/src/example-sfdx/project/sfdx-project.json
Due: none

unit tests
  src/cli/commands/force/lightning/lwc/__tests__/dev.test.ts
  src/server/__tests__/LocalDevServer.test.ts
Due: backend

support test projects for int. tests (#79)
  integration-tests/environment/BaseEnvironment.ts
  integration-tests/environment/CliEnvironment.js
  integration-tests/environment/CliEnvironment.ts
  integration-tests/environment/DefaultEnvironment.js
  integration-tests/environment/DefaultEnvironment.ts
  integration-tests/jest.config.integration-test.js
  integration-tests/src/example-cli/example-cli.test.ts
  integration-tests/src/example-cli/project/localdevserver.config.json
  integration-tests/src/example-cli/project/modules/test/hello/hello.html
  integration-tests/src/example-cli/project/modules/test/hello/hello.js
  integration-tests/src/example-cli/project/package.json
  integration-tests/src/example-sfdx/example-sfdx.disabled.ts
  integration-tests/src/example-sfdx/project/.sfdx/sfdx-config.json
  integration-tests/src/example-sfdx/project/config/project-scratch-def.json
  integration-tests/src/example-sfdx/project/force-app/main/default/lwc/hello/hello.html
  integration-tests/src/example-sfdx/project/force-app/main/default/lwc/hello/hello.js
  integration-tests/src/example-sfdx/project/force-app/main/default/lwc/hello/hello.js-meta.xml
  integration-tests/src/example-sfdx/project/force-app/main/default/staticresources/trailhead_logo.png
  integration-tests/src/example-sfdx/project/force-app/main/default/staticresources/trailhead_logo.resource-meta.xml
  integration-tests/src/example-sfdx/project/package.json
  integration-tests/src/example-sfdx/project/sfdx-project.json
  integration-tests/src/example/browser.test.ts
  integration-tests/src/example/example.test.ts
  integration-tests/src/example/project/localdevserver.config.json
  integration-tests/src/example/project/package.json
  integration-tests/src/example/project/src/test/hello/hello.html
  integration-tests/src/example/project/src/test/hello/hello.js
  integration-tests/tsconfig.integration-test.json
  jest.config.js
  package.json
  src/cli/commands/force/lightning/lwc/__tests__/dev.test.ts
  src/cli/commands/force/lightning/lwc/dev.ts
  src/cli/commands/server.ts
  src/server/LocalDevServer.ts
  src/server/__tests__/LocalDevServer.test.ts
  src/user/LocalDevServerConfiguration.ts
  src/user/__tests__/LocalDevServerConfiguration.test.ts
  yarn.lock
Due: backend

typescript configuration
  .vscode/settings.json
  integration-tests/jest.config.integration-test.js
  integration-tests/src/example-cli/project/modules/test/hello/hello.html
  integration-tests/src/example-sfdx/project/force-app/main/default/lwc/hello/hello.html
  integration-tests/src/example/project/src/test/hello/hello.html
  integration-tests/tsconfig.json
  package.json
  yarn.lock
Due: none

indentation
  .vscode/settings.json
Due: none

tsignore
  integration-tests/setup/setupFiles.ts
Due: none

typescript configuration (#82)
  .vscode/settings.json
  integration-tests/jest.config.integration-test.js
  integration-tests/setup/setupFiles.ts
  integration-tests/src/example-cli/project/modules/test/hello/hello.html
  integration-tests/src/example-sfdx/project/force-app/main/default/lwc/hello/hello.html
  integration-tests/src/example/project/src/test/hello/hello.html
  integration-tests/tsconfig.json
  package.json
  yarn.lock
Due: none

Testing the component list
  integration-tests/src/example/component-list.test.ts
  integration-tests/src/pageObjects/HomePage.ts
  integration-tests/src/pageObjects/Page.ts
Due: none

Cleaning up for code review comments
  integration-tests/src/component-list/component-list.test.ts
  integration-tests/src/pageObjects/HomePage.ts
Due: none

Setup project to test component list
  integration-tests/src/component-list/component-list.test.ts
  integration-tests/src/component-list/project/localdevserver.config.json
  integration-tests/src/component-list/project/package.json
  integration-tests/src/component-list/project/src/test/component1/component1.html
  integration-tests/src/component-list/project/src/test/component1/component1.js
  integration-tests/src/pageObjects/HomePage.ts
Due: none

Small rename
  integration-tests/src/component-list/project/src/test/component1/component1.html
  integration-tests/src/component-list/project/src/test/component1/component1.js
Due: none

Testing the component list (#80)
  integration-tests/src/component-list/component-list.test.ts
  integration-tests/src/component-list/project/localdevserver.config.json
  integration-tests/src/component-list/project/package.json
  integration-tests/src/component-list/project/src/test/component1/component1.html
  integration-tests/src/component-list/project/src/test/component1/component1.js
  integration-tests/src/pageObjects/HomePage.ts
  integration-tests/src/pageObjects/Page.ts
Due: none

use indexOf instead of startswith, to filter components.
  modules/localdevserver/home/home.js
  src/common/Project.ts
Due: frontend, backend

adding home page test / filter test
  integration-tests/src/home/homeComponentList.test.ts
  integration-tests/src/home/project/localdevserver.config.json
  integration-tests/src/home/project/package.json
  integration-tests/src/home/project/src/test/componentOne/componentOne.js
  integration-tests/src/home/project/src/test/componentTwo/componentTwo.js
  integration-tests/src/home/project/src/test/hello/hello.html
  integration-tests/src/home/project/src/test/hello/hello.js
  integration-tests/src/home/project/src/test/hello/hello.js-meta.xml
  integration-tests/src/pageobjects/homePageObject.ts
Due: none

adding unit test for home.js :100:
  modules/localdevserver/home/__tests__/home.test.js
Due: frontend

merge home page test with kris's
  integration-tests/src/component-list/component-list.test.ts
  integration-tests/src/component-list/project/src/test/componentOne/componentOne.js
  integration-tests/src/component-list/project/src/test/componentTwo/componentTwo.js
  integration-tests/src/component-list/project/src/test/hello/hello.html
  integration-tests/src/component-list/project/src/test/hello/hello.js
  integration-tests/src/component-list/project/src/test/hello/hello.js-meta.xml
  integration-tests/src/home/homeComponentList.test.ts
  integration-tests/src/home/project/localdevserver.config.json
  integration-tests/src/home/project/package.json
  integration-tests/src/pageObjects/HomePage.ts
  integration-tests/src/pageobjects/homePageObject.ts
Due: none

ignore case when filtering, updates based on code review
  integration-tests/src/component-list/component-list.test.ts
  integration-tests/src/component-list/project/src/test/componentTwo/componentTwo.js
  integration-tests/src/component-list/project/src/test/theLife/theLife.js
  integration-tests/src/pageObjects/HomePage.ts
  modules/localdevserver/home/home.js
Due: frontend

use indexOf instead of startswith, to filter components. Tests! (#84)
  integration-tests/src/component-list/component-list.test.ts
  integration-tests/src/component-list/project/src/test/componentOne/componentOne.js
  integration-tests/src/component-list/project/src/test/componentTwo/componentTwo.js
  integration-tests/src/component-list/project/src/test/hello/hello.html
  integration-tests/src/component-list/project/src/test/hello/hello.js
  integration-tests/src/component-list/project/src/test/hello/hello.js-meta.xml
  integration-tests/src/component-list/project/src/test/theLife/theLife.js
  integration-tests/src/pageObjects/HomePage.ts
  modules/localdevserver/home/__tests__/home.test.js
  modules/localdevserver/home/home.js
  src/common/Project.ts
Due: frontend, backend

test container provided dependencies
  .vscode/launch.json
  .vscode/settings.json
  .vscode/tasks.json
  CONTRIBUTING.md
  integration-tests/setup/setupFiles.ts
  integration-tests/src/dependencies/dependencies.test.ts
  integration-tests/src/dependencies/project/localdevserver.config.json
  integration-tests/src/dependencies/project/package.json
  integration-tests/src/dependencies/project/src/test/testComponent/testComponent.html
  integration-tests/src/dependencies/project/src/test/testComponent/testComponent.js
Due: none

tsconfig
  extra-types/@talon/compiler/index.d.ts
  extra-types/wildcard-javascript.d.ts
  integration-tests/environment/BaseEnvironment.ts
  integration-tests/environment/DefaultEnvironment.ts
  package.json
  src/server/talonServerCopy.ts
  tsconfig.json
  yarn.lock
Due: backend

remove dat debugger
  integration-tests/src/dependencies/dependencies.test.ts
Due: none

bug fixes
  integration-tests/environment/CliEnvironment.ts
Due: none

stupid code cov measuring
  src/server/talonServerCopy.ts
Due: backend

use page objects
  CONTRIBUTING.md
  integration-tests/src/dependencies/dependencies.test.ts
  integration-tests/src/dependencies/project/src/test/component/component.html
  integration-tests/src/dependencies/project/src/test/component/component.js
  integration-tests/src/dependencies/project/src/test/testComponent/testComponent.js
  integration-tests/src/pageObjects/PreviewPage.ts
Due: none

husky nicities
  .huskyrc
Due: none

doc
  CONTRIBUTING.md
Due: none

moar pageobjecty
  integration-tests/src/dependencies/dependencies.test.ts
  integration-tests/src/pageObjects/PreviewPage.ts
  integration-tests/src/pageObjects/PreviewTestComponentPage.ts
  package.json
  yarn.lock
Due: none

order
  integration-tests/src/dependencies/dependencies.test.ts
Due: none

test container provided dependencies (#83)
  .huskyrc
  .vscode/launch.json
  .vscode/settings.json
  .vscode/tasks.json
  CONTRIBUTING.md
  extra-types/@talon/compiler/index.d.ts
  extra-types/wildcard-javascript.d.ts
  integration-tests/environment/BaseEnvironment.ts
  integration-tests/environment/CliEnvironment.ts
  integration-tests/environment/DefaultEnvironment.ts
  integration-tests/setup/setupFiles.ts
  integration-tests/src/dependencies/dependencies.test.ts
  integration-tests/src/dependencies/project/localdevserver.config.json
  integration-tests/src/dependencies/project/package.json
  integration-tests/src/dependencies/project/src/test/component/component.html
  integration-tests/src/dependencies/project/src/test/component/component.js
  integration-tests/src/pageObjects/PreviewPage.ts
  integration-tests/src/pageObjects/PreviewTestComponentPage.ts
  package.json
  tsconfig.json
  yarn.lock
Due: none

wip
  modules/__tests__/testutils.js
  modules/localdevserver/codeHighlighter/__tests__/codeHighlighter.js
  modules/localdevserver/error/__tests__/__snapshots__/error.test.js.snap
  modules/localdevserver/error/__tests__/error.test.js
  modules/localdevserver/error/error.js
  modules/localdevserver/errorStacks/__tests__/__snapshots__/errorStacks.test.js.snap
  modules/localdevserver/errorStacks/__tests__/errorStacks.test.js
  modules/localdevserver/home/__tests__/home.test.js
Due: frontend

wip
  modules/localdevserver/codeHighlighter/__tests__/__snapshots__/codeHighlighter.test.js.snap
  modules/localdevserver/codeHighlighter/__tests__/codeHighlighter.js
  modules/localdevserver/codeHighlighter/__tests__/codeHighlighter.test.js
  modules/localdevserver/codeHighlighter/codeHighlighter.js
  modules/localdevserver/error/__tests__/__snapshots__/error.test.js.snap
  modules/localdevserver/error/__tests__/error.test.js
  modules/localdevserver/errorStacks/__tests__/errorStacks.test.js
  modules/localdevserver/home/__tests__/home.test.js
  modules/localdevserver/home/home.js
  modules/localdevserver/layout/__tests__/__snapshots__/layout.test.js.snap
  modules/localdevserver/layout/__tests__/layout.test.js
Due: frontend

remove debugger
  modules/localdevserver/home/home.js
Due: frontend

remove debugger
  modules/localdevserver/codeHighlighter/codeHighlighter.js
  modules/localdevserver/error/error.js
Due: frontend

add tests code for error feature (#86)
  modules/__tests__/testutils.js
  modules/localdevserver/codeHighlighter/__tests__/__snapshots__/codeHighlighter.test.js.snap
  modules/localdevserver/codeHighlighter/__tests__/codeHighlighter.test.js
  modules/localdevserver/error/__tests__/__snapshots__/error.test.js.snap
  modules/localdevserver/error/__tests__/error.test.js
  modules/localdevserver/errorStacks/__tests__/__snapshots__/errorStacks.test.js.snap
  modules/localdevserver/errorStacks/__tests__/errorStacks.test.js
  modules/localdevserver/home/__tests__/home.test.js
  modules/localdevserver/layout/__tests__/__snapshots__/layout.test.js.snap
  modules/localdevserver/layout/__tests__/layout.test.js
Due: frontend

remove the 'open' cli flag
  messages/dev.json
  src/cli/commands/force/lightning/lwc/__tests__/dev.test.ts
  src/cli/commands/force/lightning/lwc/dev.ts
Due: backend

guard against an empty staticResourcesDirectory
  src/common/Project.ts
  src/common/__tests__/Project.test.ts
Due: backend

codecov :/
  src/cli/commands/server.ts
  src/user/LocalDevServerConfiguration.ts
  src/user/__tests__/LocalDevServerConfiguration.test.ts
Due: backend

remove the 'open' cli flag (#87)
  messages/dev.json
  src/cli/commands/force/lightning/lwc/__tests__/dev.test.ts
  src/cli/commands/force/lightning/lwc/dev.ts
  src/cli/commands/server.ts
  src/user/LocalDevServerConfiguration.ts
  src/user/__tests__/LocalDevServerConfiguration.test.ts
Due: backend

add AuthenticatedEnvironment for integration tests
  integration-tests/environment/AuthenticatedEnvironment.js
  integration-tests/environment/AuthenticatedEnvironment.ts
  integration-tests/environment/DefaultEnvironment.ts
  integration-tests/setup/setupFiles.ts
  integration-tests/src/lds/crudPage.ts
  integration-tests/src/lds/lds-crud.test.ts
  integration-tests/src/lds/project/.sfdx/sfdx-config.json
  integration-tests/src/lds/project/force-app/main/default/lwc/crud/crud.html
  integration-tests/src/lds/project/force-app/main/default/lwc/crud/crud.js
  integration-tests/src/lds/project/force-app/main/default/lwc/crud/crud.js-meta.xml
  integration-tests/src/lds/project/package.json
  integration-tests/src/lds/project/sfdx-project.json
  integration-tests/src/pageObjects/PreviewPage.ts
  integration-tests/src/pageObjects/PreviewTestComponentPage.ts
  integration-tests/tsconfig.json
  lib/talon-common-0.11.10.tgz
  lib/talon-common-0.15.0.tgz
  lib/talon-compiler-0.11.10.tgz
  lib/talon-compiler-0.15.0.tgz
  lib/talon-framework-0.11.10.tgz
  lib/talon-framework-0.15.0.tgz
  lib/talon-metadata-schema-0.0.11.tgz
  lib/talon-metadata-schema-0.0.16.tgz
  messages/dev.json
  modules/jsconfig.json
  modules/localdevserver/home/__tests__/home.test.js
  modules/localdevserver/home/home.js
  package.json
  src/cli/commands/force/lightning/lwc/dev.ts
  src/cli/commands/server.ts
  src/common/Project.ts
  src/server/LocalDevServer.ts
  src/server/__tests__/LocalDevServer.test.ts
  src/server/config/rollup-plugin-custom-components.ts
  src/server/talonServerCopy.ts
  src/user/LocalDevServerConfiguration.ts
  vendors/dependencies-220/LDS/force/lds.js
  vendors/dependencies-220/LDS/package.json
  yarn.lock
Due: frontend, backend
