Repository forcedotcom/lwc-dev-server: changes, and which Codecov flags are due for each by the changed paths.
All: frontend, backend

Add components to coverage (#66)
  codecov.yml
  jest.config.js
  package.json
  yarn.lock
Due: none

Update version, and move to dev dep
  package.json
  yarn.lock
Due: none

moving __test__/dev.test.ts to __tests__
  src/cli/commands/force/lightning/lwc/__tests__/dev.test.ts
Due: backend

Just testing
  README.md
Due: none

Upgrading Talon to the latest
  lib/lwc-components-lightning-1.2.1-alpha.tgz
  lib/talon-common-0.11.6.tgz
  lib/talon-compiler-0.11.6.tgz
  lib/talon-force-modules-0.0.5.tgz
  lib/talon-framework-0.11.6.tgz
  lib/talon-metadata-schema-0.0.11.tgz
  yarn.lock
Due: none

Yarn.lock
  yarn.lock
Due: none

Revert yarn.lock
  yarn.lock
Due: none

yarn.lock
  yarn.lock
Due: none

Rerun sync
  lib/lwc-components-lightning-1.2.1-alpha.tgz
  lib/talon-common-0.11.8.tgz
  lib/talon-compiler-0.11.8.tgz
  lib/talon-force-modules-0.0.5.tgz
  lib/talon-framework-0.11.8.tgz
  lib/talon-metadata-schema-0.0.11.tgz
  package.json
  yarn.lock
Due: none

Kgray/upgrade talon (#68)
  lib/talon-common-0.11.6.tgz
  lib/talon-common-0.11.8.tgz
  lib/talon-compiler-0.11.6.tgz
  lib/talon-compiler-0.11.8.tgz
  lib/talon-framework-0.11.6.tgz
  lib/talon-framework-0.11.8.tgz
  package.json
  yarn.lock
Due: none

Upgrade to talon 0.11.9
  lib/talon-common-0.11.8.tgz
  lib/talon-common-0.11.9.tgz
  lib/talon-compiler-0.11.8.tgz
  lib/talon-compiler-0.11.9.tgz
  lib/talon-framework-0.11.8.tgz
  lib/talon-framework-0.11.9.tgz
  package.json
  yarn.lock
Due: none

Create sfdx-ci.yaml
  sfdx-ci.yaml
Due: none

Refactor out SfdxConfiguration
  README.md
  modules/localdevserver/home/home.js
  src/cli/commands/force/lightning/lwc/__tests__/dev.test.ts
  src/cli/commands/force/lightning/lwc/dev.ts
  src/cli/commands/server.ts
  src/common/ComponentIndex.ts
  src/common/Project.ts
  src/common/__tests__/Project.test.ts
  src/server/LocalDevServer.ts
  src/server/__tests__/LocalDevServer.test.ts
  src/user/LocalDevServerConfiguration.ts
  src/user/SfdxConfiguration.ts
  src/user/__tests__/LocalDevServerConfiguration.test.ts
  test-projects/lwc-todomvc-e8217b7/localdevserver.config.json
Due: frontend, backend

Code review comments
  src/common/Project.ts
  test-projects/lwc-todomvc-e8217b7/localdevserver.config.json
Due: backend

Dont use path.resolve for now
  src/common/Project.ts
Due: backend

Upgrading talon again
  lib/talon-common-0.11.10.tgz
  lib/talon-common-0.11.8.tgz
  lib/talon-compiler-0.11.10.tgz
  lib/talon-compiler-0.11.8.tgz
  lib/talon-framework-0.11.10.tgz
  lib/talon-framework-0.11.8.tgz
  package.json
  yarn.lock
Due: none

Upgrading talon again (#72)
  lib/talon-common-0.11.10.tgz
  lib/talon-common-0.11.8.tgz
  lib/talon-compiler-0.11.10.tgz
  lib/talon-compiler-0.11.8.tgz
  lib/talon-framework-0.11.10.tgz
  lib/talon-framework-0.11.8.tgz
  package.json
  yarn.lock
Due: none

Upgrade
  lib/talon-common-0.11.10.tgz
  lib/talon-common-0.11.9.tgz
  lib/talon-compiler-0.11.10.tgz
  lib/talon-compiler-0.11.9.tgz
  lib/talon-framework-0.11.10.tgz
  lib/talon-framework-0.11.9.tgz
  package.json
  src/server/talonServerCopy.ts
  yarn.lock
Due: backend

Upgrade to talon 0.11.10 (#73)
  src/server/talonServerCopy.ts
Due: backend

1.0.6
  package.json
Due: none

add wdio w/ jest for integration-tests
  .circleci/config.yml
  integration-tests/jest.config.integration-test.js
  integration-tests/setup.ts
  integration-tests/src/example/browser.spec.js
  package.json
  yarn.lock
Due: none

fix color package
  src/server/talonServerCopy.ts
Due: backend

1.0.7
  package.json
Due: none

Kgray configuration (#64)
  README.md
  modules/localdevserver/home/home.js
  src/cli/commands/force/lightning/lwc/__tests__/dev.test.ts
  src/cli/commands/force/lightning/lwc/dev.ts
  src/cli/commands/server.ts
  src/common/ComponentIndex.ts
  src/common/Project.ts
  src/common/__tests__/Project.test.ts
  src/server/LocalDevServer.ts
  src/server/__tests__/LocalDevServer.test.ts
  src/user/LocalDevServerConfiguration.ts
  src/user/SfdxConfiguration.ts
  src/user/__tests__/LocalDevServerConfiguration.test.ts
  test-projects/lwc-todomvc-e8217b7/localdevserver.config.json
Due: frontend, backend

first component test: preview render (#67)
  .eslintignore
  jest.config.js
  lwc-jest-resolver/resolver.js
  lwc-jest-resolver/utils/module.js
  lwc-jest-resolver/utils/project.js
  modules/localdevserver/preview/__tests__/__snapshots__/preview.test.js.snap
  modules/localdevserver/preview/__tests__/preview.test.js
  package.json
  yarn.lock
Due: frontend

update jest config, don't track code coverage on integration tests
  integration-tests/jest.config.integration-test.js
Due: none

split setup into global setup/teardown and setupFiles
  integration-tests/jest.config.integration-test.js
  integration-tests/setup.ts
  integration-tests/setup/globalSetup.ts
  integration-tests/setup/globalTeardown.ts
  integration-tests/setup/setupFiles.ts
Due: none

use/enforce integration tests are *.test.ts
  integration-tests/jest.config.integration-test.js
  integration-tests/src/example/browser.test.ts
Due: none

add wdio w/ jest for integration-tests (#75)
  .circleci/config.yml
  integration-tests/jest.config.integration-test.js
  integration-tests/setup/globalSetup.ts
  integration-tests/setup/globalTeardown.ts
  integration-tests/setup/setupFiles.ts
  integration-tests/src/example/browser.test.ts
  package.json
  yarn.lock
Due: none

Add SFDX_S3_HOST to the doc
  README.md
Due: none

txconfig
  tsconfig.json
  yarn.lock
Due: none

Add SFDX_S3_HOST to the doc (#76)
  README.md
Due: none

txconfig (#77)
  tsconfig.json
  yarn.lock
Due: none

live reload
  package.json
  src/server/talonServerCopy.ts
  yarn.lock
Due: backend

1.0.8
  package.json
Due: none

support test projects for int. tests
  integration-tests/environment/BaseEnvironment.ts
  integration-tests/environment/CliEnvironment.js
  integration-tests/environment/CliEnvironment.ts
  integration-tests/environment/DefaultEnvironment.js
  integration-tests/environment/DefaultEnvironment.ts
  integration-tests/jest.config.integration-test.js
  integration-tests/src/example-cli/example-cli.test.ts
  integration-tests/src/example-sfdx/example-sfdx.disabled.ts
  integration-tests/src/example/browser.test.ts
  integration-tests/src/example/example.test.ts
  integration-tests/src/example/project/localdevserver.config.json
  integration-tests/src/example/project/package.json
  integration-tests/src/example/project/src/test/hello/hello.html
  integration-tests/src/example/project/src/test/hello/hello.js
  integration-tests/tsconfig.integration-test.json
  jest.config.js
  package.json
  src/cli/commands/force/lightning/lwc/dev.ts
  src/cli/commands/server.ts
  src/server/LocalDevServer.ts
  src/user/LocalDevServerConfiguration.ts
  src/user/__tests__/LocalDevServerConfiguration.test.ts
Due: backend

testing
  integration-tests/tsconfig.integration-test.json
Due: none

Path conditions:
  frontend: any of: modules/
  backend: any of: src/
