Repository forcedotcom/lwc-dev-server: changes, and which Codecov flags are due for each by the changed paths.
All: frontend, backend

codecov.yml:

comment:
  layout: "header, diff, tree"
  behavior: default
  require_changes: false  # if true: only post the comment if coverage changes
  branches: null
  flags: null
  paths: null
flags:
  frontend:
    paths:
      - modules/
  backend:
    paths:
      - src/

Implement apex api execute proxy via Aura global actions (#91)
  package.json
  src/cli/commands/force/lightning/lwc/dev.ts
  src/server/LocalDevServer.ts
  src/server/__tests__/LocalDevServer.test.ts
  src/server/__tests__/apexConstants.test.ts
  src/server/__tests__/apexMiddleware.test.ts
  src/server/apexConstants.ts
  src/server/apexMiddleware.ts
  src/server/talonServerCopy.ts
  yarn.lock
Due: backend

try installing sfdx cli
  .appveyor.yml
Due: none

undo
  .appveyor.yml
Due: none

disable test on windows
  integration-tests/src/lds/lds-crud.test.ts
Due: none

fix tests in CI
  integration-tests/src/resourceUrls/project/.sfdx/sfdx-config.json
  integration-tests/src/resourceUrls/resource-urls.test.ts
Due: none

remove appveyor.yml
  .appveyor.yml
Due: none

resource url tests (#92)
  integration-tests/src/resourceUrls/project/config/project-scratch-def.json
  integration-tests/src/resourceUrls/project/force-app/main/default/lwc/libsChartjs/libsChartjs.html
  integration-tests/src/resourceUrls/project/force-app/main/default/lwc/libsChartjs/libsChartjs.js
  integration-tests/src/resourceUrls/project/force-app/main/default/lwc/libsChartjs/libsChartjs.js-meta.xml
  integration-tests/src/resourceUrls/project/force-app/main/default/lwc/miscStaticResource/miscStaticResource.html
  integration-tests/src/resourceUrls/project/force-app/main/default/lwc/miscStaticResource/miscStaticResource.js
  integration-tests/src/resourceUrls/project/force-app/main/default/lwc/miscStaticResource/miscStaticResource.js-meta.xml
  integration-tests/src/resourceUrls/project/force-app/main/default/staticresources/chart.js
  integration-tests/src/resourceUrls/project/force-app/main/default/staticresources/chart.resource-meta.xml
  integration-tests/src/resourceUrls/project/force-app/main/default/staticresources/trailhead_characters.resource-meta.xml
  integration-tests/src/resourceUrls/project/force-app/main/default/staticresources/trailhead_characters/images/einstein.png
  integration-tests/src/resourceUrls/project/force-app/main/default/staticresources/trailhead_logo.png
  integration-tests/src/resourceUrls/project/force-app/main/default/staticresources/trailhead_logo.resource-meta.xml
  integration-tests/src/resourceUrls/project/package.json
  integration-tests/src/resourceUrls/project/sfdx-project.json
  integration-tests/src/resourceUrls/resource-urls.test.ts
  package.json
Due: none

Add runtime-lib
  package.json
  yarn.lock
Due: none

fixes for windows tests
  integration-tests/setup/globalSetup.ts
  integration-tests/src/lds/lds-crud.test.ts
  package.json
Due: none

properly await the keychain write
  integration-tests/setup/globalSetup.ts
Due: none

remove debugger / better doc
  integration-tests/setup/globalSetup.ts
Due: none

run all tests on windows
  integration-tests/src/lds/lds-crud.test.ts
Due: none

cleanup comments
  integration-tests/src/lds/lds-crud.test.ts
Due: none

windows builds on appveyor (#93)
  .appveyor.yml
  .circleci/config.yml
  README.md
  integration-tests/environment/CliEnvironment.ts
  integration-tests/jest.config.integration-test.js
  integration-tests/setup/globalSetup.ts
  modules/localdevserver/error/error.js
  package.json
  script/libs-install.js
  src/common/__tests__/Project.test.ts
  src/server/LocalDevServer.ts
  src/server/__tests__/LocalDevServer.test.ts
  src/user/LocalDevServerConfiguration.ts
  yarn.lock
Due: frontend, backend

ignore checksums for now
  .appveyor.yml
Due: none

use jest --forceExit
  package.json
Due: none

add 'reload' module for automatic reload
  .gitignore
  extra-types/reload/index.d.ts
  integration-tests/src/auto-refresh/auto-refrest.test.ts
  integration-tests/src/auto-refresh/project/.sfdx/sfdx-config.json
  integration-tests/src/auto-refresh/project/force-app/main/default/lwc/autoreload/autoreload.html
  integration-tests/src/auto-refresh/project/force-app/main/default/lwc/autoreload/autoreload.js
  integration-tests/src/auto-refresh/project/force-app/main/default/lwc/autoreload/autoreload2.html
  integration-tests/src/auto-refresh/project/package.json
  integration-tests/src/auto-refresh/project/sfdx-project.json
  integration-tests/src/pageObjects/PreviewPage.ts
  package.json
  src/html/index.html
  src/server/LocalDevServer.ts
  src/server/talonServerCopy.ts
  src/user/LocalDevServerConfiguration.ts
  src/user/__tests__/LocalDevServerConfiguration.test.ts
  yarn.lock
Due: backend

add 'reload' module for automatic reload (#89)
  .gitignore
  extra-types/reload/index.d.ts
  integration-tests/src/auto-refresh/auto-refrest.test.ts
  integration-tests/src/auto-refresh/project/.sfdx/sfdx-config.json
  integration-tests/src/auto-refresh/project/force-app/main/default/lwc/autoreload/autoreload.html
  integration-tests/src/auto-refresh/project/force-app/main/default/lwc/autoreload/autoreload.js
  integration-tests/src/auto-refresh/project/force-app/main/default/lwc/autoreload/autoreload2.html
  integration-tests/src/auto-refresh/project/package.json
  integration-tests/src/auto-refresh/project/sfdx-project.json
  integration-tests/src/pageObjects/PreviewPage.ts
  package.json
  src/html/index.html
  src/server/LocalDevServer.ts
  src/server/talonServerCopy.ts
  src/user/LocalDevServerConfiguration.ts
  src/user/__tests__/LocalDevServerConfiguration.test.ts
  yarn.lock
Due: backend

feat: use precompile from npm
  .npmrc
  package.json
  src/precompile/precompiler.ts
  src/precompile/rollup-plugin-oss-labels.ts
  src/server/LocalDevServer.ts
  src/server/config/rollup-plugin-precompiled.ts
  yarn.lock
Due: backend

debugger
  src/server/LocalDevServer.ts
  src/server/config/rollup-plugin-precompiled.ts
Due: backend

Rename cli command from dev to start
  README.md
  SFDX_plugin.md
  integration-tests/environment/AuthenticatedEnvironment.ts
  integration-tests/environment/CliEnvironment.ts
  messages/start.json
  src/cli/commands/force/lightning/lwc/start.ts
Due: backend

Update required talon dependency
  .npmrc
  lib/lwc-components-lightning-1.2.1-alpha.tgz
  lib/talon-common-0.15.0.tgz
  lib/talon-common-0.18.4.tgz
  lib/talon-compiler-0.15.0.tgz
  lib/talon-compiler-0.18.4.tgz
  lib/talon-force-modules-0.0.5.tgz
  lib/talon-framework-0.15.0.tgz
  lib/talon-framework-0.18.4.tgz
  lib/talon-metadata-schema-0.0.16.tgz
  lib/talon-metadata-schema-0.0.17.tgz
  lib/talon-navigation-0.18.4.tgz
  package.json
  script/libs-update-all.js
  yarn.lock
Due: none

Update test
  src/server/__tests__/LocalDevServer.test.ts
Due: backend

Fix tsc?
  src/server/config/rollup-plugin-precompiled.ts
Due: backend

fix import resolution
  src/cli/commands/force/lightning/lwc/__tests__/dev.test.ts
Due: backend

Add @lbf deps
  lib/lbf-interactions-0.1.6.tgz
  lib/lbf-utils-0.1.15.tgz
  package.json
  script/libs-install.js
  script/libs-update-all.js
  yarn.lock
Due: none

Remove yarn prepare
  package.json
Due: none

Start to start
  src/cli/commands/force/lightning/lwc/__tests__/start.test.ts
Due: backend

Adjust timing of precompile plugin init
  src/cli/commands/server.ts
  src/server/LocalDevServer.ts
  src/server/config/rollup-plugin-precompiled.ts
Due: backend

Warning log level
  integration-tests/setup/setupFiles.ts
  src/user/LocalDevServerConfiguration.ts
Due: backend

Fix test failure by updating expected error message
  src/user/__tests__/LocalDevServerConfiguration.test.ts
Due: backend

Testing
  integration-tests/src/auto-refresh/auto-refrest.test.ts
Due: none

dir remove
  integration-tests/src/auto-refresh/auto-refrest.test.ts
Due: none

Make auto-refresh reliable
  integration-tests/src/auto-refresh/auto-refrest.test.ts
  package.json
  src/server/config/rollup-plugin-precompiled.ts
  src/server/talonServerCopy.ts
  yarn.lock
Due: backend

not needed file
  src/server/config/rollup-plugin-precompiled.ts
Due: backend

Skip prepare
  package.json
Due: none
