Repository forcedotcom/lwc-dev-server: changes, and which Codecov flags are due for each by the changed paths.
All: frontend, backend

End context to contextService
  src/server/__tests__/talonServerCopy.test.ts
  src/server/talonServerCopy.ts
Due: backend

Remove unused const
  src/server/apexConstants.ts
Due: backend

Refactor tests using constant
  src/server/__tests__/apexConstants.test.ts
  src/server/__tests__/apexMiddleware.test.ts
Due: backend

missing mok
  src/server/__tests__/apexMiddleware.test.ts
Due: backend

Vendors npm (#111)
  .prettierrc.json
  integration-tests/environment/CliEnvironment.ts
  integration-tests/environment/DefaultEnvironment.ts
  integration-tests/src/auto-refresh/auto-refrest.test.ts
  integration-tests/src/auto-refresh/project/sfdx-project.json
  integration-tests/src/lds/project/sfdx-project.json
  integration-tests/src/resource-urls/project/sfdx-project.json
  lib/lwc-components-lightning-1.2.4-alpha.tgz
  lib/lwc-dev-server-runtime-lib-1.0.36.tgz
  lib/talon-force-modules-0.0.5.tgz
  package.json
  src/server/LocalDevServer.ts
  src/server/__tests__/LocalDevServer.test.ts
  src/server/__tests__/apexConstants.test.ts
  src/server/__tests__/apexMiddleware.test.ts
  src/server/apexConstants.ts
  src/server/apexMiddleware.ts
  src/server/talonConfig.ts
  vendors/dependencies-218/LDS/force/lds.js
  vendors/dependencies-218/LDS/package.json
  vendors/dependencies-220/LDS/force/lds.js
  vendors/dependencies-220/LDS/package.json
  vendors/dependencies-222/LDS/force/lds.js
  yarn.lock
Due: backend

Upgrade talon to the latest
  .npmrc
  lib/lbf-interactions-0.1.29.tgz
  lib/lbf-interactions-0.1.41.tgz
  lib/lbf-utils-0.1.29.tgz
  lib/lbf-utils-0.1.41.tgz
  lib/lwc-components-lightning-1.3.0-alpha.tgz
  lib/talon-common-0.18.4.tgz
  lib/talon-common-0.18.5.tgz
  lib/talon-compiler-0.18.4.tgz
  lib/talon-compiler-0.18.5.tgz
  lib/talon-force-modules-0.0.5.tgz
  lib/talon-framework-0.18.4.tgz
  lib/talon-framework-0.18.5.tgz
  lib/talon-navigation-0.18.4.tgz
  lib/talon-navigation-0.18.5.tgz
  package.json
  script/libs-update-all.js
  src/server/LocalDevServer.ts
  src/server/__tests__/LocalDevServer.test.ts
  src/server/__tests__/talonServerCopy.test.ts
  src/server/config/__tests__/rollup-plugin-salesforce-apex.ts
  src/server/config/rollup-plugin-salesforce-apex.ts
  src/server/talonConfig.ts
  src/server/talonServerCopy.ts
  yarn.lock
Due: backend

Renamed test
  src/server/config/__tests__/rollup-plugin-salesforce-apex.test.ts
Due: backend

Finish code coverage
  src/server/LocalDevServer.ts
  src/server/__tests__/LocalDevServer.test.ts
  src/server/config/__tests__/rollup-plugin-salesforce-apex.test.ts
  src/server/config/rollup-plugin-salesforce-apex.ts
Due: backend

lds to 218 back
  src/server/LocalDevServer.ts
  src/server/__tests__/LocalDevServer.test.ts
Due: backend

Remove LGC
  CONTRIBUTING.md
  lib/lwc-components-lightning-1.3.0-alpha.tgz
  package.json
  script/libs-update-all.js
  src/server/config/rollup-plugin-salesforce-apex.ts
  yarn.lock
Due: backend

Upgrade talon to the latest (#115)
  .npmrc
  CONTRIBUTING.md
  lib/lbf-interactions-0.1.29.tgz
  lib/lbf-interactions-0.1.41.tgz
  lib/lbf-utils-0.1.29.tgz
  lib/lbf-utils-0.1.41.tgz
  lib/talon-common-0.18.4.tgz
  lib/talon-common-0.18.5.tgz
  lib/talon-compiler-0.18.4.tgz
  lib/talon-compiler-0.18.5.tgz
  lib/talon-force-modules-0.0.5.tgz
  lib/talon-framework-0.18.4.tgz
  lib/talon-framework-0.18.5.tgz
  lib/talon-navigation-0.18.4.tgz
  lib/talon-navigation-0.18.5.tgz
  package.json
  script/libs-update-all.js
  src/server/LocalDevServer.ts
  src/server/__tests__/LocalDevServer.test.ts
  src/server/__tests__/talonServerCopy.test.ts
  src/server/config/__tests__/rollup-plugin-salesforce-apex.test.ts
  src/server/config/rollup-plugin-salesforce-apex.ts
  src/server/talonConfig.ts
  src/server/talonServerCopy.ts
  yarn.lock
Due: backend

more home page progress
  modules/localdevserver/componentsPanel/componentsPanel.css
  modules/localdevserver/componentsPanel/componentsPanel.html
  modules/localdevserver/componentsPanel/componentsPanel.js
  modules/localdevserver/home/home.html
  modules/localdevserver/home/home.js
  modules/localdevserver/layoutSection/layoutSection.css
  modules/localdevserver/resourcesPanel/resourcesPanel.css
  modules/localdevserver/resourcesPanel/resourcesPanel.html
  modules/localdevserver/resourcesPanel/resourcesPanel.js
  src/assets/styles/styles.css
Due: frontend, backend

resources panel initial
  modules/localdevserver/componentsPanel/componentsPanel.js
  modules/localdevserver/home/home.html
  modules/localdevserver/resourcesPanel/resourcesPanel.css
  modules/localdevserver/resourcesPanel/resourcesPanel.html
  src/assets/icons/code_playground.svg
  src/assets/icons/component_customization.svg
  src/assets/icons/report_issue.svg
Due: frontend, backend

preview page sketch
  modules/localdevserver/preview/preview.css
  modules/localdevserver/preview/preview.html
Due: frontend

illustrations
  .editorconfig
  modules/localdevserver/componentsPanel/componentsPanel.css
  modules/localdevserver/componentsPanel/componentsPanel.html
  modules/localdevserver/componentsPanel/componentsPanel.js
  modules/localdevserver/home/home.css
  modules/localdevserver/home/home.html
  modules/localdevserver/preview/preview.css
  modules/localdevserver/preview/preview.html
  modules/localdevserver/preview/preview.js
  modules/localdevserver/resourcesPanel/__tests__/__snapshots__/resourcesPanel.test.js.snap
  modules/localdevserver/resourcesPanel/__tests__/resourcesPanel.test.js
  src/assets/icons/code_playground.svg
  src/assets/icons/component_customization.svg
  src/assets/icons/report_issue.svg
  src/assets/images/empty-state.svg
  src/assets/images/logo.svg
  src/assets/images/mountain.svg
  src/common/ComponentIndex.ts
  src/server/LocalDevServer.ts
  yarn.lock
Due: frontend, backend

preview header buttons + tests
  modules/localdevserver/preview/__tests__/__snapshots__/preview.test.js.snap
  modules/localdevserver/preview/__tests__/preview.disabled.js
  modules/localdevserver/preview/__tests__/preview.test.js
  modules/localdevserver/preview/preview.css
  modules/localdevserver/preview/preview.html
Due: frontend

test fixes
  src/common/ComponentIndex.ts
  src/common/__tests__/ComponentIndex.test.ts
  src/server/__tests__/LocalDevServer.test.ts
Due: backend

merge fixes
  package.json
  yarn.lock
Due: none

lock
  yarn.lock
Due: none

metadata cleanup
  modules/localdevserver/componentsPanel/__tests__/home.disabled.js
  modules/localdevserver/componentsPanel/componentsPanel.js
  modules/localdevserver/header/header.html
  modules/localdevserver/home/__tests__/__snapshots__/home.test.js.snap
  modules/localdevserver/home/__tests__/home.test.js
  modules/localdevserver/layout/layout.html
  modules/localdevserver/preview/preview.html
  modules/localdevserver/preview/preview.js
  modules/localdevserver/projectMetadataLib/projectMetadataLib.js
  src/assets/styles/styles.css
  src/common/ComponentIndex.ts
  src/html/index.html
  src/server/LocalDevServer.ts
Due: frontend, backend

package cleanup
  package.json
Due: none

code coverage
  src/common/ComponentIndex.ts
Due: backend

unit test fixes
  modules/localdevserver/header/__tests__/__snapshots__/header.test.js.snap
  modules/localdevserver/layout/__tests__/__snapshots__/layout.test.js.snap
  modules/localdevserver/preview/__tests__/__snapshots__/preview.test.js.snap
  modules/localdevserver/preview/__tests__/preview.test.js
  src/common/__tests__/ComponentIndex.test.ts
  src/server/__tests__/LocalDevServer.test.ts
Due: frontend, backend

test fixes
  src/server/__tests__/LocalDevServer.test.ts
Due: backend

more test fixes
  integration-tests/src/component-list/component-list.test.ts
  integration-tests/src/container-resources/container-resources.test.ts
  integration-tests/src/example/example.test.ts
  integration-tests/src/pageObjects/HomePage.ts
  modules/localdevserver/componentsPanel/componentsPanel.js
  src/server/LocalDevServer.ts
Due: frontend, backend

Add check if component is UI LWC component
  src/common/ComponentIndex.ts
Due: backend

Trailhead Sample Apps link
  modules/localdevserver/home/home.html
  src/assets/trailhead.png
Due: frontend, backend

Update error messages.
  messages/start.json
Due: none

Update tests for cli message updates
  messages/start.json
  src/cli/commands/force/lightning/lwc/__tests__/start.test.ts
Due: backend

Update error messages. (#117)
  messages/start.json
  src/cli/commands/force/lightning/lwc/__tests__/start.test.ts
Due: backend

appveyor fixes
  modules/localdevserver/header/__tests__/__snapshots__/header.test.js.snap
  modules/localdevserver/header/header.html
  src/common/__tests__/ComponentIndex.test.ts
Due: frontend, backend

unit tests and cleanup
  lwc-jest-resolver/resolver.js
  modules/localdevserver/componentsPanel/__tests__/__snapshots__/componentsPanel.test.js.snap
  modules/localdevserver/componentsPanel/__tests__/componentsPanel.test.js
  modules/localdevserver/componentsPanel/__tests__/home.disabled.js
  modules/localdevserver/componentsPanel/componentsPanel.css
  modules/localdevserver/componentsPanel/componentsPanel.html
  modules/localdevserver/componentsPanel/componentsPanel.js
  modules/localdevserver/errorStacks/__tests__/errorStacks.test.js
  modules/localdevserver/home/__mocks__/localdevserver/componentsPanel/componentsPanel.html
  modules/localdevserver/home/__mocks__/localdevserver/componentsPanel/componentsPanel.js
  modules/localdevserver/home/__mocks__/localdevserver/resourcesPanel/resourcesPanel.html
  modules/localdevserver/home/__mocks__/localdevserver/resourcesPanel/resourcesPanel.js
  modules/localdevserver/home/__tests__/__snapshots__/home.test.js.snap
  modules/localdevserver/home/__tests__/home.test.js
  modules/localdevserver/layout/layout.css
  modules/localdevserver/layoutSection/layoutSection.css
  modules/localdevserver/layoutSection/layoutSection.js
  modules/localdevserver/preview/__tests__/__snapshots__/preview.test.js.snap
  modules/localdevserver/preview/__tests__/preview.test.js
  modules/localdevserver/preview/preview.html
  modules/localdevserver/preview/preview.js
  modules/localdevserver/projectMetadataLib/__tests__/projectMetadataLib.test.js
  modules/localdevserver/projectMetadataLib/projectMetadataLib.js
  modules/localdevserver/resourcesPanel/__tests__/__snapshots__/resourcesPanel.test.js.snap
  modules/localdevserver/resourcesPanel/resourcesPanel.css
  modules/localdevserver/resourcesPanel/resourcesPanel.html
  src/html/index.html
Due: frontend, backend

test coverage
  modules/localdevserver/preview/__tests__/preview.test.js
  src/server/LocalDevServer.ts
  src/server/__tests__/LocalDevServer.test.ts
Due: frontend, backend

responsive styles
  modules/localdevserver/componentsPanel/componentsPanel.css
  modules/localdevserver/header/header.css
  modules/localdevserver/home/home.css
  modules/localdevserver/layoutSection/layoutSection.css
  modules/localdevserver/preview/preview.css
Due: frontend

minor cleanup
  modules/localdevserver/componentsPanel/__tests__/componentsPanel.test.js
  modules/localdevserver/home/__tests__/home.test.js
  modules/localdevserver/preview/__tests__/preview.test.js
Due: frontend

update issues url
  modules/localdevserver/resourcesPanel/resourcesPanel.html
Due: frontend

test fix
  modules/localdevserver/resourcesPanel/__tests__/__snapshots__/resourcesPanel.test.js.snap
Due: frontend

Edit commandDescription.
  messages/start.json
Due: none

Path conditions:
  frontend: any of: modules/
  backend: any of: src/
