Repository forcedotcom/lwc-dev-server: changes, and which Codecov flags are due for each by the changed paths.
All: frontend, backend

remove unused deps
  package.json
  yarn.lock
Due: none

readme and misc cleanup (#129)
  .appveyor.yml
  .circleci/config.yml
  .eslintignore
  .gitignore
  .huskyrc
  .vscode/launch.json
  .vscode/settings.json
  .vscode/workspaces/duck-burrito.code-workspace
  CONTRIBUTING.md
  README.md
  SFDX_plugin.md
  local_development_server.md
  package.json
  src/server/webruntimeConfig.ts
  tsconfig.json
  yarn.lock
Due: backend

test fix
  src/common/__tests__/ComponentIndex.test.ts
Due: backend

handle errors
  src/common/ComponentIndex.ts
Due: backend

Add check if component is UI LWC component (#119)
  src/common/ComponentIndex.ts
  src/common/__tests__/ComponentIndex.test.ts
Due: backend

1.0.1
  package.json
Due: none

1.0.2
  package.json
Due: none

Npm version and license badges
  README.md
Due: none

Npm version and license badges (#130)
  README.md
Due: none

npm version fix
  package.json
Due: none

npm version fix (#131)
  package.json
Due: none

1.0.3
  package.json
Due: none

1.0.4
  package.json
Due: none

suppress sfdx errors
  src/cli/commands/force/lightning/lwc/start.ts
Due: backend

tests
  src/cli/commands/force/lightning/lwc/__tests__/start.test.ts
  src/cli/commands/force/lightning/lwc/start.ts
Due: backend

suppress sfdx errors (#132)
  src/cli/commands/force/lightning/lwc/__tests__/start.test.ts
  src/cli/commands/force/lightning/lwc/start.ts
Due: backend

1.0.5
  package.json
Due: none

1.0.6
  package.json
Due: none

allow underscores in apex imports
  src/server/config/__tests__/rollup-plugin-salesforce-apex.test.ts
  src/server/config/rollup-plugin-salesforce-apex.ts
Due: backend

allow underscores in apex imports (#133)
  src/server/config/__tests__/rollup-plugin-salesforce-apex.test.ts
  src/server/config/rollup-plugin-salesforce-apex.ts
Due: backend

scale background image on large viewports
  modules/localdevserver/layout/layout.css
Due: frontend

Provide a user and session id
  README.md
  integration-tests/environment/DefaultEnvironment.ts
  package.json
  src/cli/commands/force/lightning/lwc/start.ts
  src/instrumentation/LocalDevTelemetryOptions.ts
  src/instrumentation/LocalDevTelemetryReporter.ts
  src/server/LocalDevServer.ts
  yarn.lock
Due: backend

Fix some tests
  integration-tests/environment/DefaultEnvironment.ts
  src/server/LocalDevServer.ts
  src/server/__tests__/LocalDevServer.test.ts
Due: backend

scroll large examples within container
  modules/localdevserver/preview/preview.html
Due: frontend

update slds version
  package.json
  yarn.lock
Due: none

test fix
  modules/localdevserver/preview/__tests__/__snapshots__/preview.test.js.snap
Due: frontend

styling updates (#135)
  modules/localdevserver/layout/layout.css
  modules/localdevserver/preview/__tests__/__snapshots__/preview.test.js.snap
  modules/localdevserver/preview/preview.html
  package.json
  yarn.lock
Due: frontend

mock getInstance to fix tests and remove test the validates caching on getInstance
  src/instrumentation/__tests__/LocalDevTelemetryReporter.test.ts
  src/server/__tests__/LocalDevServer.test.ts
Due: backend

Fix tests and add new tests for passing parameters to the LocalDevServer
  src/cli/commands/force/lightning/lwc/__tests__/start.test.ts
  src/instrumentation/__tests__/LocalDevTelemetryReporter.test.ts
  src/server/__tests__/LocalDevServer.test.ts
Due: backend

Fix tests for TelemetryOptions
  src/instrumentation/__tests__/LocalDevTelemetryOptions.test.ts
Due: backend

Seeing if builds clean
  README.md
Due: none

Temporarily disabling the lds crud tests till we can resolve aggregate-ui
  integration-tests/src/lds/lds-crud.test.ts
Due: none

Use 218 lds
  integration-tests/src/lds/lds-crud.test.ts
  src/server/LocalDevServer.ts
Due: backend

Fix tests
  src/server/__tests__/LocalDevServer.test.ts
Due: backend

Revert to 218 LDS for 222 to prevent making aggregate-ui calls. (#138)
  src/server/LocalDevServer.ts
  src/server/__tests__/LocalDevServer.test.ts
Due: backend

Increasing code coverage after deleting some lines
  .circleci/config.yml
  src/common/ComponentIndex.ts
  src/common/__tests__/ComponentIndex.test.ts
  src/common/__tests__/Project.test.ts
  src/server/__tests__/talonServerCopy.test.ts
  src/server/talonServerCopy.ts
Due: backend

Trying a readme update
  README.md
Due: none

Update circleci flags
  .circleci/config.yml
Due: none

Remove some talon references
  CONTRIBUTING.md
  package.json
  src/server/LocalDevServer.ts
  src/server/talonServerCopy.ts
Due: backend

Bump lwc dev server dependencies to 49
  package.json
Due: none

Path conditions:
  frontend: any of: modules/
  backend: any of: src/
