Repository forcedotcom/lwc-dev-server: changes, and which Codecov flags are due for each by the changed paths.
All: frontend, backend

Update lock file
  yarn.lock
Due: none

set recordApiCalls back to false, done to true by accident
  src/server/LocalDevServer.ts
Due: backend

Use devhub org username
  src/cli/commands/force/lightning/lwc/__tests__/start.test.ts
  src/cli/commands/force/lightning/lwc/start.ts
Due: backend

Provide a user and session id (#134)
  .circleci/config.yml
  README.md
  package.json
  src/cli/commands/force/lightning/lwc/__tests__/start.test.ts
  src/cli/commands/force/lightning/lwc/start.ts
  src/common/ComponentIndex.ts
  src/common/__tests__/ComponentIndex.test.ts
  src/common/__tests__/Project.test.ts
  src/instrumentation/LocalDevTelemetryOptions.ts
  src/instrumentation/LocalDevTelemetryReporter.ts
  src/instrumentation/__tests__/LocalDevTelemetryOptions.test.ts
  src/instrumentation/__tests__/LocalDevTelemetryReporter.test.ts
  src/server/LocalDevServer.ts
  src/server/__tests__/LocalDevServer.test.ts
  src/server/__tests__/talonServerCopy.test.ts
  src/server/talonServerCopy.ts
  yarn.lock
Due: backend

Bump lwc dev server dependencies to 49 (#139)
  package.json
  yarn.lock
Due: none

Remove some talon references (#137)
  CONTRIBUTING.md
  package.json
  src/server/LocalDevServer.ts
  src/server/talonServerCopy.ts
Due: backend

clarify publishing doc
  CONTRIBUTING.md
Due: none

clarify publishing doc (#141)
  CONTRIBUTING.md
Due: none

1.0.7
  package.json
Due: none

1.0.8
  package.json
Due: none

[W-6761408] Add nonce to static endpoints
  modules/localdevserver/error/error.js
  modules/localdevserver/projectMetadataLib/__tests__/projectMetadataLib.test.js
  modules/localdevserver/projectMetadataLib/projectMetadataLib.js
  src/html/index.html
  src/server/LocalDevServer.ts
  src/server/__tests__/LocalDevServer.test.ts
  src/server/__tests__/talonServerCopy.test.ts
  src/server/talonServerCopy.ts
Due: frontend, backend

[W-6761408] Add nonce to static endpoints (#142)
  modules/localdevserver/error/error.js
  modules/localdevserver/projectMetadataLib/__tests__/projectMetadataLib.test.js
  modules/localdevserver/projectMetadataLib/projectMetadataLib.js
  src/html/index.html
  src/server/LocalDevServer.ts
  src/server/__tests__/LocalDevServer.test.ts
  src/server/__tests__/talonServerCopy.test.ts
  src/server/talonServerCopy.ts
Due: frontend, backend

[W-6860931] Prevent reload for ignored files
  integration-tests/setup/globalSetup.ts
  integration-tests/src/auto-refresh/auto-refrest.test.ts
  integration-tests/src/auto-refresh/project/.forceignore
  integration-tests/src/auto-refresh/project/force-app/main/default/lwc/autoreload/autoreload.html
  integration-tests/src/auto-refresh/project/force-app/main/default/lwc/autoreload/autoreload.js
  integration-tests/src/auto-refresh/project/force-app/main/default/lwc/autoreload/autoreload2.html
  integration-tests/src/auto-refresh/project/force-app/main/default/lwc/jsconfig.json
  package.json
  src/server/__tests__/talonServerCopy.test.ts
  src/server/talonServerCopy.ts
  yarn.lock
Due: backend

[W-6860931] Prevent reload for ignored files (#143)
  integration-tests/setup/globalSetup.ts
  integration-tests/src/auto-refresh/auto-refrest.test.ts
  integration-tests/src/auto-refresh/project/.forceignore
  integration-tests/src/auto-refresh/project/force-app/main/default/lwc/autoreload/autoreload.html
  integration-tests/src/auto-refresh/project/force-app/main/default/lwc/autoreload/autoreload.js
  integration-tests/src/auto-refresh/project/force-app/main/default/lwc/autoreload/autoreload2.html
  integration-tests/src/auto-refresh/project/force-app/main/default/lwc/jsconfig.json
  package.json
  src/server/__tests__/talonServerCopy.test.ts
  src/server/talonServerCopy.ts
  yarn.lock
Due: backend

Edit the addition of the talon folder to the workspace. Its not named talon anymore
  .vscode/workspaces/duck-burrito.code-workspace
Due: none

Edit the addition of the talon folder to the workspace. Its not named talon anymore (#144)
  .vscode/workspaces/duck-burrito.code-workspace
Due: none

Add the project directory to the workspace
  .vscode/workspaces/duck-burrito.code-workspace
Due: none

Add the project directory to the workspace (#145)
  .vscode/workspaces/duck-burrito.code-workspace
Due: none

Update webruntime version
  package.json
Due: none

Update yarnlock
  yarn.lock
Due: none

[W-7069455] Update LWC Dependencies
  package.json
  yarn.lock
Due: none

[W-7069455] Update LWC Dependencies (#147)
  package.json
  yarn.lock
Due: none

Change from @webruntime/compiler to @webruntime/framework-service
  extra-types/@webruntime/framework-server/index.d.ts
  package.json
  src/server/talonServerCopy.ts
  yarn.lock
Due: backend

Change talon test to mock framework-server
  src/server/__tests__/talonServerCopy.test.ts
Due: backend

Fixing module resolution with lwc.config.json
  lwc.config.json
  package.json
  yarn.lock
Due: none

consume 224 dependendencies
  .gitignore
  package.json
  script/copy-virtual-modules.ts
  src/server/LocalDevServer.ts
  yarn.lock
Due: backend

cleanup
  script/copy-virtual-modules.ts
Due: none

add unit test
  src/server/__tests__/LocalDevServer.test.ts
Due: backend

fix comment
  script/copy-virtual-modules.ts
Due: none

consume 224 dependencies (#148)
  .gitignore
  package.json
  script/copy-virtual-modules.ts
  src/server/LocalDevServer.ts
  src/server/__tests__/LocalDevServer.test.ts
  yarn.lock
Due: backend

1.0.9-alpha.0
  package.json
Due: none

copy virtual modules to prevent any path issues
  script/copy-virtual-modules.ts
Due: none

small cleanup
  script/copy-virtual-modules.ts
Due: none

copy virtual modules to prevent any path issues (#149)
  script/copy-virtual-modules.ts
Due: none

1.0.9-alpha.1
  package.json
Due: none

1.0.9
  package.json
Due: none

1.0.10
  package.json
Due: none

fix: package.json & yarn.lock to reduce vulnerabilities
  package.json
  yarn.lock
Due: none

Adding code cutover from various repos for lwc mobile
  messages/preview.json
  messages/setup.json
  package.json
  src/cli/commands/force/lightning/lwc/preview.ts
  src/cli/commands/force/lightning/lwc/setup.ts
  src/common/AndroidEnvironmentSetup.ts
  src/common/AndroidUtils.ts
  src/common/Common.ts
  src/common/Config.ts
  src/common/IOSEnvironmentSetup.ts
  src/common/IOSUtils.ts
  src/common/LaunchAndroid.ts
  src/common/LaunchIOS.ts
  src/common/Requirements.ts
  yarn.lock
Due: backend

Path conditions:
  frontend: any of: modules/
  backend: any of: src/
